@model Vinicius.VirtualStore.Domain.Entities.Order

@{
    ViewBag.Title = "Close Order";
}


<h2>Close Order</h2>
<p>Enter your information below</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>Send To</h3>
    <div class="form-group">
        <label>Client Name</label>
        @Html.TextBoxFor(o => o.ClientName, new {@class = "form-control"})
    </div>

    <h3>Information for delivery</h3>
    foreach (var properties in ViewData.ModelMetadata.Properties)
    {
        if (properties.PropertyName != "GiftWrap" && properties.PropertyName != "ClientName")
        {
            <div class="form-group">
                <label>@(properties.DisplayName ?? properties.PropertyName) </label>
                @Html.TextBox(properties.PropertyName, null, new { @class = "form-control" })
            </div>
        }

    }
    <div class="form-group">
        <h3>Options</h3>
        <div class="checkbox">
            <label>
                @Html.EditorFor(o => o.GiftWrap)
                Gift Wrap?
            </label>
        </div>
    </div>
    <hr/>

    <input class="btn btn-primary" type="submit" value="Close Order"/>
}